$primaryColor : #BEE9E8;
$secondaryColor : #62B6CB;

$darkColor : #1B4965;
$ternaryColor : #CAE9FF;
$forthColor : #5FA8D3;

$breakout-tablet: 768px;

a, a:link, a:focus {
    text-decoration: none;
    
}